.pokemon-list {
    list-style: none;
}

.pokemon-button {
    background-color: rgb(187, 147, 147);
    color: rgb(230, 238, 202);
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    box-shadow: 3px 3px 3px;
}